/* ********************************* RESET ********************************* */

* {
  margin: 0;
  padding: 0;
}

/* ********************************* VARIABLES ********************************* */

:root {
  --eclipse-black: #000000;
  --ultraviolet: #D020E4;
  --radioactive-orange: #FF6700;
  --pluto-white: #FFFFFF;
  --cosmic-purple: #4F0D72;
  --horizon-gradient: linear-gradient(90deg, #FF6700 0%, #DC23A8 37%, #DC23A8 69%, #4F0D72 100%);
  --horizon-height: 86.4px;
  --desktop-padding: 40px;
  --desktop-icon-size: 30px;
  --mobile-padding: 30px;
  --mobile-icon-size: 24px;
  --horizon-font-size: 3.5rem;
  --time-font-size: 3rem;
  --dhms-font-size: 1rem;
  --margin-timer-size: 23px 10px 0 10px;
}

@media (max-width: 768px) {
  :root {
    --eclipse-black: #000000;
    --ultraviolet: #D020E4;
    --radioactive-orange: #FF6700;
    --pluto-white: #FFFFFF;
    --cosmic-purple: #4F0D72;
    --horizon-gradient: linear-gradient(90deg, #FF6700 0%, #DC23A8 37%, #DC23A8 69%, #4F0D72 100%);
    --desktop-padding: 30px;
    --desktop-icon-size: 20px;
    --mobile-padding: 20px;
    --mobile-icon-size: 20px;
    --horizon-font-size: 2rem;
    --horizon-height: 55px;
    --time-font-size: 1.7rem;
    --dhms-font-size: 0.5rem;
    --margin-timer-size: 10px 2px 0 2px;
  }
}

@font-face {
  font-family: 'HK Grotesk Wide';
  src: url("./fonts/HKGroteskWide/OTF/HKGroteskWide-Black.otf") format("opentype");
}

@font-face {
  font-family: 'Gobold High Bold';
  src: url("./fonts/gobold/Gobold\ High\ Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Gobold High Normal';
  src: url("./fonts/gobold/Gobold\ Bold.otf") format("opentype");
}

@font-face {
  font-family: 'Space Mono';
  src: url("./fonts/Space_Mono/SpaceMono-Regular.ttf");
}

/* ********************************* LANDING ********************************* */

body {
  background-color: var(--eclipse-black);
}

.stars {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  opacity: 0.4;
  z-index: -1;
}

.grid {
  position: absolute;
  align-items: center;
  transform: translate(0, 50%);
  width: 100%;
  height: 50%;
}

.purple {
  position: absolute;
  max-height: 400px;
  right: 10vw;
  bottom: 5vh;
  mix-blend-mode: color-dodge;
  opacity: 0.2;
}

.orange {
  position: absolute;
  max-height: 700px;
  left: 10vw;
  top: -25vh;
  mix-blend-mode: color-dodge;
  opacity: 0.3;
}

body #orange {
  background-color: none;
  background-position: top 20% left 30%;
  background-size: 840px auto;
  background-repeat: no-repeat;
  background-blend-mode: color-dodge;
}

/******************************** HEADER *************************************/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header li {
  display: inline-block;
}

.header .horizon {
  float: left;
  padding-top: var(--desktop-padding);
  padding-left: var(--desktop-padding);
  background-attachment: #ffffff;
}

.header .horizon img {
  height: var(--desktop-padding);
}

/******************************** MAIN *************************************/

/* countdown timer */
.countdown {
  position: absolute;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 4;
}

.countdown .countdown__title {
  text-transform: uppercase;
  font-family: 'HK Grotesk Wide';
  font-size: var(--horizon-font-size);
  letter-spacing: 0.12em;
  height: var(--horizon-height);
  background: var(--horizon-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.countdown .countdown__timer .countdown__timer__other,
.countdown .countdown__timer .countdown__timer__days,
.countdown .countdown__timer .countdown__timer__hours,
.countdown .countdown__timer .countdown__timer__minutes,
.countdown .countdown__timer .countdown__timer__seconds {
  vertical-align: top;
  text-transform: uppercase;
  margin: var(--margin-timer-size);
  color: var(--pluto-white);
  display: inline-block;
}

.countdown .countdown__timer p {
  font-family: 'Gobold High Bold';
  font-size: var(--time-font-size);
  font-kerning: 3%;
}

.countdown .countdown__timer h3 {
  font-family: 'Space Mono';
  font-size: var(--dhms-font-size);
  line-height: 150%;
  font-kerning: 0%;
}

/******************************** FOOTER *************************************/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

footer li {
  display: inline-block;
  transition: all 0.5s ease;
}

footer li:hover {
  opacity: 0.5;
}

footer .social-icons {
  float: left;
  padding-left: var(--desktop-padding);
  padding-bottom: var(--desktop-padding);
}

footer .social-icons img {
  margin-right: var(--desktop-icon-size);
  height: var(--desktop-icon-size);
}

footer .asce-icons {
  float: right;
  padding-right: var(--desktop-padding);
}

footer .asce-icons img {
  height: var(--desktop-icon-size);
  padding-bottom: var(--desktop-padding);
}